@import "../globals";

$transition-style: all 500ms;

#about {
  text-align: center;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 20px;
}

.tech-grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
  font-weight: bold;

  // From experimenting this `550px` became a good breakpoint
  // for aligning the techs column-wise
  @media (max-width: 550px) {
    grid-template-columns: 1fr 1fr;
  }
}

a {
  text-decoration: none;
  color: #75472f;
}

.techs h2 {
 
  text-align: center;
  margin: 0 auto;
}
.tech {
  text-align: center;
  max-width: 65rem;
 
  padding: 0 20px;
  margin: 1em;
}

.tech:hover {
  color: $orange;
  transition: $transition-style;
}
.tech:hover > .tech-icon {
  color: $orange;
  transition: $transition-style;
}
.tech-icon {
  font-size: 4rem;
  color: #75472f;
}

.tech-text {
  align-self: center;
}
