@import "../globals";

$transition-style: all 500ms;

#about {
  text-align: left;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 20px;
}

.tech-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: normal;
  font-weight: bold;

  // From experimenting this `550px` became a good breakpoint
  // for aligning the techs column-wise
  @media (max-width: 550px) {
    grid-template-columns: 1fr 1fr;
  }
}

a {
  text-decoration: none;
  color: #75472f;
}

.techs {
  
  @media (max-width: 2400px) {
    max-width: 60em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2em;
  }
}
.techs h2 {
  text-align: center;
  margin: 0 auto;
}
.tech {
  text-align: left;

  padding: 0 1px;
  margin: 0.8em;
}

.tech:hover {
  color: $orange;
  transition: $transition-style;
}

.tech:hover > .tech-icon {
  color: $orange;
  transition: $transition-style;
}
.tech-icon {
  font-size: 4rem;
  color: #75472f;
}

.tech-text {
  align-self: center;
}
